<h1 class="text-center">Dashboard</h1>
<button class="btn btn-xs btn-primary"
        ng-hide="state==STATE_ADD_GOAL"
        ng-click="showAddGoal()"
>
    + Add goal
</button>
<button class="btn btn-xs btn-danger" ng-click="clearGoals()">
    XXX Clear all goals
</button>

<div ng-show="state==STATE_ADD_GOAL">
    <h2>Add new goal</h2>
    <label for="add_name">Name:</label> <input id="add_name" type="text" ng-model="add_goal_model.name"><br/>
    <select id="add_frequency" ng-model="add_goal_model.frequency" ng-init="add_goal_model.frequency = '1'">
        <option value="1" selected>1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
    </select>
    <label for="add_duration"> time{{add_goal_model.frequency > 1 ? 's' : ''}} per </label>
    <select id="add_duration" ng-model="add_goal_model.duration" ng-init="add_goal_model.duration = 'week'">
        <option value="week">week</option>
        <option value="month">month</option>
    </select><br/>
    <button class="btn btn-default" ng-click="cancelAddGoal()">Cancel</button>
    <button class="btn btn-primary" ng-click="addGoal()">Add</button>
</div>

<div ng-show="state==STATE_ADD_ACTIVITY_ON_DATE">
    <h2>Add activity on {{add_activity_model.goal.name}}</h2>
    <label for="add_activity_date">Date</label><input id="add_activity_date" type="date" ng-model="add_activity_model.date">
    <button class="btn btn-default" ng-click="cancelAddActivityOnDate()">Cancel</button>
    <button class="btn btn-primary" ng-click="addActivityOnDate()">Add</button>
</div>

<div ng-show="goals && !state">
    <div class="row" ng-repeat="goal in goals"
        ng-class="{
            'background-green': goal.statistics.current_status === 100,
            'background-red': goal.statistics.current_status === 3,
            'background-yellow': goal.statistics.current_status === 2,
            'background-blue': goal.statistics.current_status === 1,
        }"
    >
        <div class="col-xs-12">
            <p class="lead">{{goal.name}}</p>
            <br/>
            <div class="row">
                <div class="col-xs-12">
                    <div ng-repeat="step in goal.statistics.frequency_steps"
                         class="step-box text-center"
                         ng-class="{
                            'background-green': step.completed,
                            'background-red': !step.completed && step.incompleted_status === 3,
                            'background-yellow': !step.completed && step.incompleted_status === 2,
                            'background-blue': !step.completed && step.incompleted_status === 1,
                            'background-gray': !step.completed && step.incompleted_status === 0
                         }"
                    >
                        <i ng-show="step.completed" class="fa fa-2x fa-check"></i>
                        <strong ng-show="step.completed" class="text-center"><br/>
                            {{step.completed_at_label}}
                        </strong>
                    </div>
                </div>
            </div>


            {{goal.frequency}} time{{goal.frequency > 1 ? 's' : ''}} per {{goal.duration}}
            <button class="pull-right btn btn-success" ng-click="addActivity(goal)" ng-hide="goal.statistics.has_activity_today">Add</button>
            <a class="pull-right" ng-href ng-click="showAddActivityOnDate(goal)">+ Add on other date</a>
            <button class="pull-right btn btn-warning" ng-click="removeActivity(goal)" ng-show="goal.statistics.has_activity_today">Remove</button>
            Activities this duration: {{ goal.statistics.number_activities_in_duration }}
            <br/>
            Days passed: {{ goal.statistics.days_passed_in_duration}} ({{ goal.statistics.days_passed_in_duration/goal.statistics.days_total_in_duration}}) Start: {{ goal.statistics.duration_start_formatted }}, End: {{ goal.statistics.duration_end_formatted }}
            <hr>
        </div>
    </div>
</div>
<div ng-hide="goals">
    <p class="lead">Well hello handsome! Get started by <a ng-href ng-click="showAddGoal()">adding a goal!</a></p>
</div>